@page
@using Newtonsoft.Json
@using ProjectManagement_BusinessObjects.Entities
@model ProjectManagement_Assignment02.Pages.Admin.Employees.IndexModel

@{
    ViewData["Title"] = "List employee";

    string userString = HttpContext.Session.GetString("user");
    User user = null;

    if (!string.IsNullOrEmpty(userString))
    {
        user = JsonConvert.DeserializeObject<User>(userString);
    }
}

<h1 class="mb-3">Employee</h1>

<div class="d-flex align-items-center justify-content-between">
    @if (user.Role == "Admin")
    {
        <a class="text-decoration-none p-2 border ms-auto" asp-page="Create">Create New</a>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Visa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Birthday)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Visa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
                @if (user.Role == "Admin")
                {
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
